@import url('https://fonts.googleapis.com/css2?family=Licorice&family=Ms+Madi&display=swap');

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

/* NAV BAR */
.navbar {
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-between;
    padding: 2px;
}

.logo img {
    height: 125px;
    width: auto;
    margin-left: 25px;
}

nav a {
    text-decoration: none;
    color: #3b3937;
}

nav {
    display: flex;
    align-items: end;
    gap: 25px;
    font-size: 18px;
    margin-right: 25px;
    margin-bottom: 25px;
}

nav a:hover {
    background-color: #f4f4f4;
    color: #adadad;
}

nav a.active {
    background-color: #f4f4f4;
    color: #adadad;
}


/* SEARCH BAR */
.search {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #dfdcdc;
    overflow: hidden;
    padding: 5px;
    margin-right: -5px;
}

.search input[type="search"] {
    color: #adadad;
    padding: 8px;
    border: 1px solid #adadad;
    font-size: 12px;
}

.search button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    margin-top: -.5px;
}

.search i {
    color: #3b3937;
    padding: 7.25px;
    margin-right: 15px;
    margin-left: -7px;
    border: 1px solid #adadad;
}

.search i:hover {
    color: #adadad;
}


/* HEADER + DIRECTORY */
.header {
    font-family: 'Ms Madi', cursive;
    font-size: 75px;
    font-weight: 100;
    color: #967f71;
    text-align: center;
    margin-top: 10px;
}

.directory {
    color: #3b3937;
    font-size: 18px;
    border: 2px solid #dfdcdc;
    padding: 25px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    height: 18.5px;
}

.directory a {
    color: #3b3937;
    text-align: center;
    text-decoration: none;
}

.directory a:hover {
    color: #dfdcdc;
}


/* RECIPE CARDS */
.content {
    color: #3b3937;
    padding: 25px;
    margin-top: 10px;
    height: 215px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.content a {
    text-decoration: none;
}

.card img {
    width: 250px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.card {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    color: #f4f4f4;
    padding: 10px;
}

.card h5 {
    color: #3b3937;
    font-size: 15px;
    font-weight: 200;
    text-align: center;
    margin-top: 15px;
}

.card:hover img {
    transform: scale(1.1);
}

.card:hover h5{
    margin-top: 15px;
    font-size: 15px;
    color: #dfdcdc;
}


/* SCROLL TO TOP */
.blank {
    height: 40px;
}

#top {
    scroll-margin-top: 90px;
}

.scroll {
    position: absolute;
    top: 163.82%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.scroll span {
    display: block;
    width: 30px;
    height: 30px;
    border-top: 1px solid #3b3937;
    border-left: 1px solid #3b3937;
    transform: rotate(45deg);
    margin: -10px;
}

.scroll-txt {
    font-size: 15px;
    color: #adadad;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-top: 95px;
}

.scroll span:hover {
    display: block;
    width: 30px;
    height: 30px;
    border-top: 1px solid #dfdcdc;
    border-left: 1px solid #dfdcdc;
    transform: rotate(45deg);
    margin: -10px;
}

/* FOOTER */
.footer {
    height: 100px;
    background-color: #3b3937;
    color: #fff;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
