@import url('https://fonts.googleapis.com/css2?family=Licorice&family=Ms+Madi&display=swap');

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    box-sizing: border-box;
}

.top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

/* NAV BAR */
.navbar {
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-between;
    padding: 2px;
}

.logo img {
    height: 125px;
    width: auto;
    margin-left: 25px;
}

nav a, nav span {
    text-decoration: none;
    color: #3b3937;
}

nav {
    display: flex;
    align-items: end;
    gap: 25px;
    font-size: 18px;
    margin-right: 25px;
    margin-bottom: 25px;
    cursor: pointer;
}

nav a:hover, nav span:hover {
    background-color: #f4f4f4;
    color: #adadad;
}

nav a.active, nav span.active {
    background-color: #f4f4f4;
    color: #adadad;
}


/* SEARCH BAR */
.search-container {
    background-color: #dfdcdc;
    overflow: visible;
    padding: 5px;
    height: 42px;
}

.search-box {
    position: relative;
    display: flex;
    left: 87%;
    z-index: 999;
    background-color: #f9f9f9;
    font-size: 14px;
    width: 143px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
}

.search-box input[type="search"] {
    color: #adadad;
    padding: 8px;
    border: 1px solid #adadad;
    font-size: 12px;
}

.search-box button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    position: absolute;
    top: 23%;
    left: 96%;
}

.search-box i {
    color: #3b3937;
    padding: 7.25px;
    border: 1px solid #adadad;
    position: relative;
}

.search-box i:hover {
    color: #adadad;
}


/* SEARCH RESULT DROPDOWN */
.auto-box {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
}

.auto-box li {
    font-size: 12px;
    float: none;
    color: #3b3937;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.auto-box li:hover {
    background-color: #dfdcdc;
}
  
.search-input-container:hover .auto-box {
    display: block;
}

.search-result a {
    text-decoration: none;
    color: #3b3937;
}

.search-result a:hover {
    color: #fff;
}


/* SAVVY CHEF SVG */
.savvy-chef {
    margin-top: 0px;
    height: 120px;
    z-index: 2;
    position: absolute;
    top: 25%;
    left: 27%;
}

.savvy-chef img {
    margin-top: 1px;
    height: 110px;
}


/* PHOTO CAROUSEL */
.container {
    z-index: 1;
	width: 100vw;
    height: 80vh;
    margin-top: 174px;
    background-color: black;
}

.slider-container {
	position: relative;
	width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: start;
    align-items: start;
}

.slide {
	width: 100vw;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.slide::-webkit-scrollbar {
	display: none;
}

.slide img {
	flex: 1 0 100%;
	scroll-snap-align: start;
	object-fit: cover;
    object-position: center;
    height: 80vh;
    width: 100vw;
    opacity: 0.7;
    transition: opacity 3s ease-in-out;
}

.fade {
    animation-name: fade-image;
    animation-duration: 12s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes fade-image {
    0%, 100% {
        opacity: 0.7;
    }
    33.33%, 66.66% {
        opacity: 0.5;
    }
}


/* NAV BUBBLES */
.nav-bubbles {
	display: flex;
	column-gap: 1rem;
	position: absolute;
	bottom: 1.25rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.txt {
    position: absolute;
    top: 24%;
    left: 2%;
    color: #fff;
    font-size: 18px;
    z-index: 2;
}

.nav-btn {
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background: none;
    border: 1.5px solid #fff;
    border-radius: 50%;
    display: flex;
    cursor: pointer;
}

.nav-btn:hover {
    background-color: #fff;
}
 
.nav-btn.active {
    background-color: #fff;
}